*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

libs/
/app/src/main/res/values/themoviewdb.xml
/model/src/main/res/values/themoviewdb.xml
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
gradle/
/app/src/main/res/values/the_movie_db_api_key.xml
/model/src/main/res/values/the_movie_db_api_key.xml
/model/src/main/res/values/the_movie_db_key.xml
/app/src/main/res/values/the_movie_db_key.xml
